<tr>
	<td>{{burger_name}}</td>

	<td>
		<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devourable}}">
			{{#if devourable}}DEVOUR!{{else}}Cook!{{/if}}
		</button>
	</td>
	<td>
		<button class="delete" data-id="{{id}}">DELETE</button>
	</td>
</tr>