<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#unless devoured}}DEVOUR!{{else}}Cook a New One!{{/unless}}
	</button>
	<button class="delete" data-id="{{id}}">DELETE</button>
</li>