<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{devourable}}">
		{{#if devourable}}DEVOUR!{{else}}Cook a New One!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">DELETE</button>
</li>